@model WebXemPhim.Models.Movie
@{
    ViewBag.Title = "Thêm phim mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>➕ Thêm phim mới</h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    @using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="mb-3">
            <label>Tên phim</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Nhập tên phim" })
        </div>

        <div class="mb-3">
            <label>Mô tả</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
        </div>

        <div class="mb-3">
            <label>Năm phát hành</label>
            @Html.TextBoxFor(m => m.ReleaseYear, new { @class = "form-control", type = "number" })
        </div>

        <div class="mb-3">
            <label>Quốc gia</label>
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label>Thể loại</label>
            @foreach (var g in ViewBag.Genres as List<WebXemPhim.Models.Genre>)
            {
                <div class="form-check">
                    <input type="checkbox" name="SelectedGenres" value="@g.GenreId" class="form-check-input" />
                    <label class="form-check-label">@g.GenreName</label>
                </div>
            }
        </div>

        <div class="form-group">
            <label>Poster</label>
            @*<input type="file" name="PosterFile" class="form-control" accept="image/*" />*@
            @Html.TextBoxFor(m => m.PosterUrl, new { @class = "form-control", placeholder = "Nhập link ảnh poster " })
        </div>

        <div class="mb-3">
            <label>Trailer URL</label>
            @Html.TextBoxFor(m => m.TrailerUrl, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label>Video URL</label>
            @Html.TextBoxFor(m => m.MovieUrl, new { @class = "form-control", placeholder = "Nhập link phim (Google Drive, YouTube...)" })
        </div>

        <div class="form-check mb-3">
            <label class="form-check-label">Phim bộ?</label>
            @Html.CheckBox("IsSeries", Model?.IsSeries ?? false, new { @class = "form-check-input" })

        </div>

        <button type="submit" class="btn btn-success">💾 Lưu</button>
        <a href="@Url.Action("Index", "Movies")" class="btn btn-secondary">↩️ Hủy</a>
    }
</div>
